<aside id="aside">
  <p class="p">Add New Book ✨</p>
  <form id="form" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="book_title" />

    <label for="image_url_s">Image URL (S):</label>
    <input
      type="text"
      id="image_url_s"
      name="image_url_s"
      formControlName="image_url_s"
    />
    <label for="image_url_m">Image URL (M):</label>
    <input
      type="text"
      id="image_url_m"
      name="image_url_m"
      formControlName="image_url_m"
    />
    <label for="image_url_l">Image URL (L):</label>
    <input
      type="text"
      id="image_url_l"
      name="image_url_l"
      formControlName="image_url_l"
    />

    <label for="year_of_publication">year of Publication:</label>
    <input type="number" id="year_of_publication" name="year_of_publication" formControlName="year_of_publication" />

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" formControlName="book_author" />

    <label for="publishData">publish Data:</label>
    <input
      type="date"
      id="publishData"
      name="publishData"
      formControlName="isbn"
    />

    <label for="publisher">Publisher:</label>
    <input type="string" id="publisher" name="publisher" formControlName="publisher" />

    <button type="submit" [disabled]="!bookForm.valid">Add Book</button>
  </form>
</aside>
