#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  block-size: calc(100vh - 7.5rem);

  inline-size: 100%;
  background-color: hsl(0, 0%, 85%);

  overflow-y: auto;
  scrollbar-width: thin;

  form {
    margin-block: 4rem;
    inline-size: 30%;
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 95%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 2rem;

    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 2rem;

    label {
      font-weight: 600;
      font-size: 1.5rem;

      text-shadow: 0 0 0.8rem black;
    }

    input {
      border-radius: 1rem;
      border: none;

      padding: 0.5rem;

      outline: none;

      transition: all 0.3s ease-in-out;

      &:focus {
        box-shadow: 0 0 1rem hsl(150, 100%, 40%);

        transition: all 0.3s ease-in-out;
      }
    }

    button {
      border: 0.0625rem solid hsl(210, 100%, 80%);
      border-radius: 1rem;

      background-color: transparent;
      color: hsl(210, 100%, 80%);

      padding: 0.5rem;

      font-size: 1.1rem;
      font-weight: 600;

      transition: all 0.3s ease;

      &:hover {
        background-color: hsl(210, 100%, 80%);
        color: black;

        transition: all 0.3s ease;
      }
    }

    .invalid {
      outline: 0.2rem solid hsl(0, 100%, 60%);
      outline-offset: -0.22rem;
    }

    .text-danger {
      color: hsl(210, 100%, 95%);
    }

    small {
      text-align: center;
      text-wrap: wrap;
    }
  }
}
