<div id="Edit-Crad">

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <label for="book-title">Title:</label>
  <input type="text" id="book-title" name="book-title" formControlName="book-title" />

  <label for="image_url_l">Image URL:</label>
  <input type="text" id="image_url_l" name="image_url_l" formControlName="image_url_l" />

  <label for="publisher">Publisher:</label>
  <input type="text" id="publisher" name="publisher" formControlName="publisher" />

  <label for="isbn">isbn:</label>
  <input type="text" id="isbn" name="isbn" formControlName="isbn" />

  <label for="year_of_publication">Year of pulication:</label>
  <input
    type="date"
    id="year_of_publication"
    name="year_of_publication"
    formControlName="year_of_publication"
  />

  <label for="book_author">Author:</label>
  <input type="string" id="book_author" name="book_author" formControlName="book_author" />

  <button type="submit" [disabled]="!formGroup.valid">Edit Book</button>
</form>
<button id="close" (click)="close()">Close</button>

</div>