#Edit-Card {
  padding: 1.25rem;

  border-radius: 0.2rem;

  background-color: hsl(10, 60%, 35%);

  display: flex;
  flex-direction: column;

  position: absolute;
  inset-inline-end: calc(50% - 12.5rem);
  inset-block-start: calc(50% - 12.5rem);

  z-index: 50;

  button {
    margin-block-start: 0.625rem;

    background-color: hsl(210, 100%, 47%);
    color: hsl(0, 100%, 100%);

    border: none;
    border-radius: 0.25rem;

    cursor: pointer;

    transition: background-color 0.3s ease;

    padding: 0.15rem;

    &:hover {
      background-color: hsl(210, 100%, 35%);
    }

    &:disabled {
      background-color: hsl(0, 50%, 95%);

      cursor: not-allowed;
    }

    &#close {
      border: 0.16rem solid hsl(210, 100%, 47%);

      background-color: hsl(0, 0%, 0%);

      &:hover {
        background-color: hsl(210, 100%, 35%);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      padding: 0.15rem;
      margin-block-end: 0.2rem;

      border: 0.0625rem solid hsl(0, 50%, 95%);
      border-radius: 0.25rem;
    }

    p {
      font-weight: bold;
    }
  }
}
