#cont {
  display: flex;
  flex-direction: row;

  block-size: calc(100vh - 7.5rem);
  min-block-size: calc(100vh - 7.5rem);

  app-aside {
    inline-size: 20%;
  }

  app-main {
    inline-size: 80%;

    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;

    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: hsl(150, 5%, 40%) hsl(0, 100%, 98%);

    background-color: hsl(150, 10%, 50%);

    &::-webkit-scrollbar {
      inline-size: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: hsl(0, 100%, 98%);
    }

    &::-webkit-scrollbar-thumb {
      background-color: hsl(0, 0%, 40%);
      border-radius: 0.625rem;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: hsl(0, 0%, 60%);
    }
  }
}
